.header nav {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
}

.message_box__active {
  border: 1px solid;
}

#home {
  background-color: aqua;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.btn_box {
  margin-top: 100px;
}
.btn_action {
  padding: 15px;
  border: 1px solid;
  border-radius: 20px;
  background-color: aqua;
}

.btn_action:active {
  padding: 15px;
  border: 1px solid;
  border-radius: 20px;
  background-color: rgb(21, 232, 232);
}
