.header nav {
  display: flex;
  justify-content: space-around;
  background-color: aquamarine;
}

#home {
  background-color: aqua;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.btn_box {
  margin-top: 100px;
}
